VUE_APP_I18N_LOCALE=en
VUE_APP_I18N_FALLBACK_LOCALE=en
VUE_APP_I18N_SUPPORTED_LOCALE=en,es
VUE_APP_API_BASE=http://localhost:3000

VUE_APP_FIREBASE_APIKEY=AIzaSyBriu0YdHPwvlAcvDYc56mL5umAmmbVdmc
VUE_APP_FIREBASE_AUTHDOMAIN=pronoia-test-1aeb6.firebaseapp.com
VUE_APP_FIREBASE_PROJECTID=pronoia-test-1aeb6
VUE_APP_FIREBASE_STORAGEBUCKET=pronoia-test-1aeb6.appspot.com
VUE_APP_FIREBASE_MESSAGINGSENDERID=708314955027
VUE_APP_FIREBASE_APPID=1:708314955027:web:ceca3710741075f1cfeee6
VUE_APP_FIREBASE_MEASUREMENTID=G-9RSPL2CTJ8

VUE_APP_STRIPE=pk_test_51JMgntAh7fUx8yG6nH2HadmylF7wzsPVY1nueu3xV8idRV1CULLHzAR2GQSbmwqAcH5eWd2qPJdmUTUXvfxmqzU7006Kw2pd06
VUE_APP_STRIPE_1=price_1JzQoJAh7fUx8yG6xetV5gEl
VUE_APP_STRIPE_2=price_1JzRCLAh7fUx8yG6acdv2HXP
VUE_APP_STRIPE_3=price_1JzRCjAh7fUx8yG6FCeSG5x5
VUE_APP_STRIPE_PRE_LAUNCH=price_1JzRDJAh7fUx8yG6hBQX1tS1